<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

<body>
  <main class="container">
    <nav>
      <a href="/login">Admin</a>
    </nav>
    <%- include('./partials/header'); %>
    <div>
      <% if (owners && owners.length> 0) { %>
        <p class="mb-4 text-lg"><span class="font-semibold">Owner Count:</span> <%= owners.length %></p>
        <table>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nation</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          <% owners.sort((a, b)=> parseInt(b.num_items) - parseInt(a.num_items)).forEach((puppet, i) => { %>
            <tr>
              <th scope="row"><%= i + 1 %></th>
              <td><a href="/owner?name=<%= puppet.owner %>">
                <%= puppet.owner.split('_').map(word => word[0].toUpperCase() + word.slice(1)).join(' ') %>
              </a></td>
              <td><%= puppet.num_items %></td>
            </tr>
            <% }); %>
        </table>
        <% } else { %>
          <% } %>
    </div>
  </main>
</body>


</html>