<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Puppet Reporter</title>
  <link href="./output.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<body>
  <main class="container">
    <nav>
      <a href="/login">Admin</a>
    </nav>
    <header>
      <hgroup>
        <h1>Puppet Reporter</h1>
        <p>Tracking known puppets in the NationStates card game.</p>
      </hgroup>
    </header>
    <div>
      <a href="/puppet" role="button">
        Search Puppets
      </a>
      <a href="/puppet" role="button">
        Search Owners
      </a>
      <a href="/submit" role="button">
        Submit Puppets
      </a>
    </div>
    <div class="mt-20">
      <% if (owners && owners.length> 0) { %>
        <p class="mb-4 text-lg"><span class="font-semibold">Owner Count:</span> <%= owners.length %></p>
        <table>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nation</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          <% owners.sort((a, b)=> parseInt(b.num_items) - parseInt(a.num_items)).forEach((puppet, i) => { %>
            <tr>
              <th scope="row"><%= i + 1 %></th>
              <td><a href="/owner?name=<%= puppet.owner %>">
                <%= puppet.owner.split('_').map(word => word[0].toUpperCase() + word.slice(1)).join(' ') %>
              </a></td>
              <td><%= puppet.num_items %></td>
            </tr>
            <% }); %>
        </table>
        <% } else { %>
          <% } %>
    </div>
  </main>
</body>


</html>